/* ============ Dustin's Design Notes ============*/

/*Header Font from Google Font*/
/* font-family: 'Cinzel Decorative', cursive; */
/*Body Font from Google Font*/
/* font-family: 'Raleway', sans-serif; */

/* =============================================*/

#trainings-header{
    background: transparent;
}

#brand-logo{
    padding-left: 1em;
    font-family: 'Raleway', sans-serif; 
}

#header-date{
    padding-right: 3em;
    font-family: 'Raleway', sans-serif; 
}

.employee-padding {
	padding: 0 1em;
}