/* ============ Dustin's Design Notes ============*/

/*Header Font from Google Font*/
/* font-family: 'Cinzel Decorative', cursive; */
/*Body Font from Google Font*/
/* font-family: 'Raleway', sans-serif; */

/* =============================================*/

.app-wrapper {
  background-image: linear-gradient(to right top, #cac7d7, #a39eaf, #7d7888, #595363, #383140);
  max-height: 100vh;
  overflow: auto;
}