.card{
    padding:10px; 
}
.card-title{
    text-align: center;
}
#employeeView{
    margin-top:40px;
    text-align:center;
    font-size:35px;
}
#titleView{
    text-align:center;
    font-size:30px;
}
#roleView {
    text-align: center;
    font-size:30px;
}
#editIcon{
    cursor: pointer;
}
#fname #lname{
    font-size: 10px;
}
#text{
    font-size:20px;
}
#dots{
    margin-left:38%;
}