/* ============ Dustin's Design Notes ============*/

/*Header Font from Google Font*/
/* font-family: 'Cinzel Decorative', cursive; */
/*Body Font from Google Font*/
/* font-family: 'Raleway', sans-serif; */

/* =============================================*/

#brand-logo{
    padding-left: 1em;
}

#header-date{
    padding-right: 1em;
}

.employee-padding {
	padding: 0 1em;
}