/* ============ Dustin's Design Notes ============*/

/*Athena Font from Google Font*/
/* font-family: 'Cinzel Decorative', cursive; */

/*Header Font from Google Font*/
/*font-family: 'Raleway', sans-serif;
	font-weight: 500; */

/*Body Font from Google Font*/
/* font-family: 'Raleway', sans-serif; */

/*Text and Icon Color*/
/* color:white; */

/*Button Styles*/
/* background: rgba(128, 0, 128, 0.596); */
/* border-radius: 10px; */

/*Card Styles*/
/* background: rgba(0, 0, 0, 0.322); */
/* border-radius: 15px; */

/*Components on top of Card*/
/* background: #fafafa52 !important; */ /* NOTE: May need to adjust Opacity depending on the situation*/

/*Hover Background Color*/
/* background: rgba(110, 57, 90, 0.39); */

/* =============================================*/



.site-bg {
  background-image: url("./clouds_pink_hue.jpg"); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
   min-width: 100vw;
   min-height: 100vh;
   color:white;
}

#siteLogo{
  margin-top:10%;
}

.containerAthenaInfo{
  min-width: 75vw;
  min-height: 75vh;
  background-image:url("./cold_dawn.jpg");
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
  color:white;
  font-family: 'Raleway', sans-serif;
}

.containerAbout{
  min-width: 75vw;
  min-height: 75vh;
  background-image:url("./sky.jpg");
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
  color:white;
  font-family: 'Raleway', sans-serif;
}

.athena-title {
  font-family: 'Cinzel Decorative', cursive;
}

.athena-title a {
    font-family: 'Cinzel Decorative', cursive;
    color: white;
}

.logoContainer{
  margin-top:15%;
}

 nav ul a,
 nav .brand-logo {
   color:white;
 }

 #about-link,
 #login-link {
  font-family: 'Raleway', sans-serif;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }

.parallax-container .section {
     width: 100%;
}
 
   #register-button {
    background: rgba(128, 0, 128, 0.596);
    font-family: 'Raleway', sans-serif;
   }

 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   font-family: 'Raleway', sans-serif;
 }

 /* nav ul a, nav .brand-logo {
  color: white;
} */
 
.aboutPics{
  width:200px;
  height:auto;
}
.aboutCards{
  width:350px;
  height:auto;
  background:#fafafa00;
  color:black;
}

#brandyImage{
  background-image:url("./me2.jpg");
  background-position:center;
  background-size:cover;
  width:330px;
  height:322.08px;

}
#codyImage{
  background-image:url("./cody.jpg");
  background-position:center;
  background-size:cover;
  width:330px;
  height:322.08px;
}
.profileTitle{
  font-family: 'Raleway', sans-serif;
	font-weight: 500;

}
.container-portfolios{
  margin-left:10%;
}
.companyBio{
  margin-left:25%;
}

.olympusHub{
  margin-left:12%;
}
.siteIcons{
  color:white;
}