/* ============ Dustin's Design Notes ============*/

/*Header Font from Google Font*/
/* font-family: 'Cinzel Decorative', cursive; */
/*Body Font from Google Font*/
/* font-family: 'Raleway', sans-serif; */

/* =============================================*/

/* .site-bg {
    background-image: url("./clouds_pink_hue.jpg");
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
} */

.athena-title a {
    font-family: 'Cinzel Decorative', cursive;
    color: white;
    font-size: 1em;
}