body {
    background-color: lightslategray;
}

#userProfile {
    color: black;
}

.codytest {
	background: blue;
}

#codytest {
	background: yellow;
}

.abcd {
	background: pink;
}

.blk {
	color: black;
}