/* ============ Dustin's Design Notes ============*/

/*Header Font from Google Font*/
/* font-family: 'Cinzel Decorative', cursive; */
/*Body Font from Google Font*/
/* font-family: 'Raleway', sans-serif; */

/* =============================================*/

/* .mainNav-bg {
    
} */
.userprofile-organization-header {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}

/* #userProfile {
    text-align: center;
} */

.mainNav-header {
    font-family: 'Cinzel Decorative', cursive;
}

.mainNav-footer {
    text-align: center;
    background: lavender;
    font-family: 'Cinzel Decorative', cursive;
}


.blk {
    color: black;
    font-family: 'Raleway', sans-serif;
}

#side-nav-footer a {
	padding: 0;
}

/*
.sidenav-trigger {
	height: 0;
}

@media only screen and (min-width : 992px) {
	.sidenav-trigger {
		height: auto;
	}
}
*/