/* ============ Dustin's Design Notes ============*/

/*Athena Font from Google Font*/
/* font-family: 'Cinzel Decorative', cursive; */

/*Header Font from Google Font*/
/*font-family: 'Raleway', sans-serif;
	font-weight: 500; */

/*Body Font from Google Font*/
/* font-family: 'Raleway', sans-serif; */

/* =============================================*/

.mainNav-bg {
	background: #CAC7D7;
	/* background: rgba(97, 70, 97, 0.644); */
	/* background: rgba;(255, 255, 0, 0.288); */
    /* background: linear-gradient(to right top, #cac7d77c, #a39eaf88, #7d788888, #595363, #383140),transparent; */
	/* background: linear-gradient(to right top, #cac7d77c, #a39eaf88, #7d788888, #595363, #383140),transparent; */
	max-height: 100vh;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.userprofile-organization-header {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
}

.logout-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 !important;
	margin: 0;
}

.side-nav .userView>a {
/*     padding-left: 6em; */
}

.side-nav .userView .circle {
	height: 125px;
	width: 125px;
	margin: 0.65em 0;
}

.mainNav-header {
    font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.mainNav-link {
	font-family: 'Raleway', sans-serif;
}

.blk {
    color: black;
    font-family: 'Raleway', sans-serif;
}

#side-nav-footer a {
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	font-weight: bold;
	padding: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(255, 255, 0, 0);
}

.userView {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 !important;
	margin: 0;
}

.userView a {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.userView a span {
	padding: 0 !important;
	margin: 0 !important;
}

/*
.sidenav-trigger {
	height: 0;
}

@media only screen and (min-width : 992px) {
	.sidenav-trigger {
		height: auto;
	}
}
*/