/* ============ Dustin's Design Notes ============*/

/*Header Font from Google Font*/
/* font-family: 'Cinzel Decorative', cursive; */
/*Body Font from Google Font*/
/* font-family: 'Raleway', sans-serif; */

/* =============================================*/

.adminViewWrapper,
.pageContainer {
/* 	max-height: 100vh; */
	min-height: 100vh;
	margin: 0;
}
.pageContainer {
	padding: 0;
	padding-left: 300px;
}

.admin-bg {
background: #04030C;
}

@media only screen and (max-width : 992px) {
	.pageContainer {
		padding-left: 0;
	}
}
