/* ============ Dustin's Design Notes ============*/

/*Header Font from Google Font*/
/* font-family: 'Cinzel Decorative', cursive; */
/*Body Font from Google Font*/
/* font-family: 'Raleway', sans-serif; */

/* =============================================*/

.subheader-wrapper {
	min-height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.subheader-wrapper .valign-wrapper {
	margin: 0;
	padding: 0 2em;
	height: 100%;
	width: 100%;
}

.float-right {
	float: right;
}