/* ============ Dustin's Design Notes ============*/

/*Athena Font from Google Font*/
/* font-family: 'Cinzel Decorative', cursive; */

/*Header Font from Google Font*/
/*font-family: 'Raleway', sans-serif;
	font-weight: 500; */

/*Body Font from Google Font*/
/* font-family: 'Raleway', sans-serif; */

/*Text and Icon Color*/
/* color:white; */

/*Button Styles*/
/* background: rgba(128, 0, 128, 0.596); */
/* border-radius: 10px; */

/*Card Styles*/
/* background: rgba(0, 0, 0, 0.322); */
/* border-radius: 15px; */

/*Components on top of Card*/
/* background: #fafafa52 !important; */ /* NOTE: May need to adjust Opacity depending on the situation*/

/*Hover Background Color*/
/* background: rgba(110, 57, 90, 0.39); */

/* =============================================*/


.viewEmployees-wrapper {
	margin: 0;
	padding: 0 2em;
}

.card-panel {
	overflow: auto;
}

.employeesNav-wrapper {
	width: 100%;
	padding: 0 2em;
	margin: 0.5em 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.employeesNav-wrapper span {
/* 	margin: 0 1em; */
	cursor: pointer;
}
.employeesNav-wrapper .bar,
.timeframe-container .bar {
	margin: 0 1em;
}

.employeesNav-selected,
.navLink:hover {
/* 	font-weight: bold; */
	color: white;
	border-bottom: 2px solid white;
}
.timeframe-selected {
	font-size: 1.25em;
	color: white;
}
.timeframe {
	text-decoration: none;
	border-bottom: none;
	cursor: pointer;
}
.timeframe:hover{
	border-bottom: none;
	color: white;
}

.training-tabs-wrapper {
	margin: 0;
	margin-left: 3.5em;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.training-tabs-wrapper span {
	margin: 0;
/* 	margin-left: 1em; */
}
.training-tabs-wrapper i {
	font-size: 1em !important;
/* 	margin-left: 0.5em; */
/* 	margin-right: 0.5em; */
/* 	margin: 0 1em 0 0.5em; */
}
.navLink {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.tabz {
/* 	width: 20%; */
}

#hover-employee:hover{
	background: rgba(110, 57, 90, 0.39) !important; 
}

.timeframe-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2em;
}

.employeeCount {
	position: absolute;
/* 	float: right; */
	right: 1.5em;
/* 	top: -45%; */
	font-size: 2em;
	color: white;
}

.defaultGray {
	color: lightgray;
}

.collection .collection-item:last-child {
	border-bottom: 1px solid #e0e0e0;
}

.role-btn {
	background: rgba(128, 0, 128, 0.596);
	padding: 0.5em 1em;
	/* width: 175px; */
	border-radius: 10px;
	font-size: 1.1em;
	color: #FFF;
}


.role-admin {
	background: rgba(128, 0, 128, 0.596);
}

.role-user {
	background: lightgray;
}

.role-admin:hover {
	background: #af0caf;
}

.role-user:hover {
	background: purple;
}

.employeeCollectionItem {
	padding: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.employeeCollectionItem div {
	width: 16%;
}

.valign-wrapper .avatar-wrapper {
	width: 7.5%;
}

.valign-wrapper .trainingStatus-wrapper {
	width: 24.5%;
}

.valign-wrapper img {
	position: static !important;
	min-width: 65px;
	min-height: 65px;
}

.flex-center {
	display: flex;
	justify-content: center;
}


